## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import pandas as pd 
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
data_path = '../dataset/MSFT.csv'
# MSFT = wb.DataReader('MSFT', data_source='google', start='2000-1-1')
MSFT = pd.read_csv(data_path, header=0, index_col=0)
MSFT

                 Open       High        Low       Close  Adj Close     Volume
Date
2000-01-03  58.687500  59.312500  56.000000  116.562500  58.281250   53228400
2000-01-04  56.781250  58.562500  56.125000  112.625000  56.312500   54119000
2000-01-05  55.562500  58.187500  54.687500  113.812500  56.906250   64059600
2000-01-06  56.093750  56.937500  54.187500  110.000000  55.000000   54976600
2000-01-07  54.312500  56.125000  53.656250  111.437500  55.718750   62013600
2000-01-10  56.718750  56.843750  55.687500  112.250000  56.125000   44963600
2000-01-11  55.750000  57.125000  54.343750  109.375000  54.687500   46743600
2000-01-12  54.250000  54.437500  52.218750  105.812500  52.906250   66532400
2000-01-13  52.187500  54.312500  50.750000  107.812500  53.906250   83144000
2000-01-14  53.593750  56.968750  52.875000  112.250000  56.125000   73416400
2000-01-18  55.906250  58.250000  55.875000  115.312500  57.656250   81483600
2000-01-19  55.250000  55.750000  53.000000  107.000000  53.500000   97568200
2000-01-20  53.531250  54.843750  52.937500  106.000000  53.000000   56349800
2000-01-21  53.500000  53.625000  51.625000  103.750000  51.875000   68416200
2000-01-24  51.898399  52.843750  50.406250  101.250000  50.625000   63597600
2000-01-25  50.500000  51.937500  49.781250  102.812500  51.406250   59823200
2000-01-26  51.218750  51.750000  49.562500   99.375000  49.687500   49365000
2000-01-27  49.945301  50.593750  48.625000   98.750000  49.375000   63654800
2000-01-28  49.062500  50.125000  48.625000   98.250000  49.125000   58225400
2000-01-31  48.812500  49.093750  47.437500   97.875000  48.937500   73194200
2000-02-01  49.250000  51.625000  48.843750  102.937500  51.468750   70196600
2000-02-02  51.218750  51.968750  50.250000  100.812500  50.406250   49915600
2000-02-03  51.031250  52.093750  50.062500  103.625000  51.812500   49186000
2000-02-04  52.187500  54.000000  52.070301  106.562500  53.281250   55365400
2000-02-07  53.406250  53.437500  52.125000  106.625000  53.312500   40005800
2000-02-08  53.218750  55.000000  53.218750  109.937500  54.968750   56229000
2000-02-09  54.718750  54.718750  51.937500  104.000000  52.000000   55090000
2000-02-10  51.945301  53.281250  51.250000  106.000000  53.000000   54527800
2000-02-11  52.437500  52.437500  49.562500   99.937500  49.968750  115559000
2000-02-14  50.617149  50.875000  49.531250   99.625000  49.812500   81028600
...               ...        ...        ...         ...        ...        ...
2017-04-06  65.599998  66.059998  65.480003   65.730003  65.730003   18103500
2017-04-07  65.849998  65.959999  65.440002   65.680000  65.680000   14108500
2017-04-10  65.610001  65.820000  65.360001   65.529999  65.529999   17952700
2017-04-11  65.599998  65.610001  64.849998   65.480003  65.480003   18791500
2017-04-12  65.419998  65.510002  65.110001   65.230003  65.230003   17108500
2017-04-13  65.290001  65.860001  64.949997   64.949997  64.949997   17896500
2017-04-17  65.040001  65.489998  65.010002   65.480003  65.480003   16689300
2017-04-18  65.330002  65.709999  65.160004   65.389999  65.389999   15155600
2017-04-19  65.650002  65.750000  64.889999   65.040001  65.040001   26992800
2017-04-20  65.459999  65.750000  65.139999   65.500000  65.500000   22299500
2017-04-21  65.669998  66.699997  65.449997   66.400002  66.400002   32522600
2017-04-24  67.480003  67.660004  67.099998   67.529999  67.529999   29770000
2017-04-25  67.900002  68.040001  67.599998   67.919998  67.919998   30242700
2017-04-26  68.080002  68.309998  67.620003   67.830002  67.830002   26190800
2017-04-27  68.150002  68.379997  67.580002   68.269997  68.269997   34971000
2017-04-28  68.910004  69.139999  67.690002   68.459999  68.459999   39548800
2017-05-01  68.680000  69.550003  68.500000   69.410004  69.410004   31954400
2017-05-02  69.709999  69.709999  69.129997   69.300003  69.300003   23906100
2017-05-03  69.379997  69.379997  68.709999   69.080002  69.080002   28928000
2017-05-04  69.029999  69.080002  68.639999   68.809998  68.809998   21749400
2017-05-05  68.900002  69.029999  68.489998   69.000000  69.000000   19128800
2017-05-08  68.970001  69.050003  68.419998   68.940002  68.940002   18566100
2017-05-09  68.860001  69.279999  68.680000   69.040001  69.040001   22858400
2017-05-10  68.989998  69.559998  68.919998   69.309998  69.309998   17977800
2017-05-11  68.360001  68.730003  68.120003   68.459999  68.459999   28789400
2017-05-12  68.610001  68.610001  68.040001   68.379997  68.379997   18714100
2017-05-15  68.139999  68.480003  67.570000   68.430000  68.430000   31530300
2017-05-16  68.230003  69.440002  68.160004   69.410004  69.410004   34956000
2017-05-17  68.889999  69.099998  67.430000   67.480003  67.480003   30548800
2017-05-18  67.400002  68.129997  67.139999   67.709999  67.709999   25165000

[4372 rows x 6 columns]

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [3]:
MSFT.head()

                Open     High       Low     Close  Adj Close    Volume
Date
2000-01-03  58.68750  59.3125  56.00000  116.5625   58.28125  53228400
2000-01-04  56.78125  58.5625  56.12500  112.6250   56.31250  54119000
2000-01-05  55.56250  58.1875  54.68750  113.8125   56.90625  64059600
2000-01-06  56.09375  56.9375  54.18750  110.0000   55.00000  54976600
2000-01-07  54.31250  56.1250  53.65625  111.4375   55.71875  62013600

In [4]:
MSFT.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2017-05-12  68.610001  68.610001  68.040001  68.379997  68.379997  18714100
2017-05-15  68.139999  68.480003  67.570000  68.430000  68.430000  31530300
2017-05-16  68.230003  69.440002  68.160004  69.410004  69.410004  34956000
2017-05-17  68.889999  69.099998  67.430000  67.480003  67.480003  30548800
2017-05-18  67.400002  68.129997  67.139999  67.709999  67.709999  25165000

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [6]:
MSFT['Simple Return'] = (MSFT['Adj Close']/ MSFT['Adj Close'].shift(1)) - 1
print MSFT['Simple Return']

Date
2000-01-03         NaN
2000-01-04   -0.033780
2000-01-05    0.010544
2000-01-06   -0.033498
2000-01-07    0.013068
2000-01-10    0.007291
2000-01-11   -0.025612
2000-01-12   -0.032571
2000-01-13    0.018901
2000-01-14    0.041159
2000-01-18    0.027283
2000-01-19   -0.072087
2000-01-20   -0.009346
2000-01-21   -0.021226
2000-01-24   -0.024096
2000-01-25    0.015432
2000-01-26   -0.033435
2000-01-27   -0.006289
2000-01-28   -0.005063
2000-01-31   -0.003817
2000-02-01    0.051724
2000-02-02   -0.020644
2000-02-03    0.027898
2000-02-04    0.028347
2000-02-07    0.000587
2000-02-08    0.031067
2000-02-09   -0.054008
2000-02-10    0.019231
2000-02-11   -0.057193
2000-02-14   -0.003127
                ...
2017-04-06    0.002593
2017-04-07   -0.000761
2017-04-10   -0.002284
2017-04-11   -0.000763
2017-04-12   -0.003818
2017-04-13   -0.004293
2017-04-17    0.008160
2017-04-18   -0.001375
2017-04-19   -0.005352
2017-04-20    0.007073
2017-04-21    0.013740
2017-04-24    0.017018
2017-04-25    0.005775
2017-04-26   -0.001325
2017-04-27    0.006487
2017-04-28    0.002783
2017-05-01    0.013877
2017-05-02   -0.001585
2017-05-03   -0.003175
2017-05-04   -0.003909
2017-05-05    0.002761
2017-05-08   -0.000870
2017-05-09    0.001451
2017-05-10    0.003911
2017-05-11   -0.012264
2017-05-12   -0.001169
2017-05-15    0.000731
2017-05-16    0.014321
2017-05-17   -0.027806
2017-05-18    0.003408
Name: Simple Return, dtype: float64